@import "./normalize.scss";

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 0 100px;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

//RenderResults
.Results-wrap {
    width: 100%;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.results_count {
    display: block;
    margin: 0 0 30px 0;
    color: #adacac;
}

//Search
.Search {
    width: 100%;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

//Footer
.app-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #f3f3f3;
    padding: 20px 0;
    margin: 50px 0 0 0;
}

/* 
  For Tablet portrait
  Following styles have been applied as there is no clear way to style grid list for responsive once the columns are given to initial component
 */
@media only screen and (max-width: 768px) {
    .gridlist_wrapper {
      div {
        width: 50% !important;

        div {
          width: 100% !important;

          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
}

/* 
  For Large mobiles and below
  Following styles have been applied as there is no clear way to style grid list for responsive once the columns are given to initial component
 */
@media only screen and (max-width: 425px) {
    .gridlist_wrapper {
      div {
        width: 100% !important;

        div {
          width: 100% !important;

          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }

    .input_radiobtn {
      width: 50% !important;
      text-align: left;
      margin: 0 !important;
    }
}